body {
 color:black;
 background-color:white;
 font-family:Tahoma,Verdana,Helvetica,Arial,sans-serif;
}
.square {
 background-color: blue;
 color: white;
 font-size: 3cm;
 font-family:Courier New, Courier, monospaced;
 font-weight: bold;
 width: 3cm;
 vertical-align: bottom;
}
.board {
 border:thin black ridge;
 background-color: blue;
 margin-right: 1cm;
}
